<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32543692495-bijdcauo4u0bihqud8jn8if5l6sdlh85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32543692495-bijdcauo4u0bihqud8jn8if5l6sdlh85</string>
	<key>API_KEY</key>
	<string>AIzaSyABYoA1SikZgpsepnLiV5k_BVXcxK1fnVc</string>
	<key>GCM_SENDER_ID</key>
	<string>32543692495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UO-Thesis.thesis</string>
	<key>PROJECT_ID</key>
	<string>thesis-fede9</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-fede9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32543692495:ios:5c8d7aa90d6c1abd8c89ba</string>
</dict>
</plist>